<header>
    <nav class="header-nav">
        <a class="header-title" href="/">cheeseAholic</a>
        <ul>
            <li ><a href="/articles">Articles</a></li>
            <li ><a href="/games">games</a></li>
            <li ><a href="/tools">tools</a></li>
        </ul>
    </nav>
</header>