<form action="/user" method="post">
    <div class="name">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="email">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
    </div>
    <div class="password">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
       
    </div>
    <button type="submit">Save</button>
</form>